/*.label{*/
/*    margin-top: 5%;*/
/*}*/

/*.texto-input {*/
/*    border: none;*/
/*    margin-left: 5%;*/
/*    width: 80%;*/
/*}*/

/*.input{*/
/*    border: 2px solid gray;*/
/*    padding: 3%;*/
/*    border-radius: 5px;*/
/*    width: 100%;*/
/*    outline: none;*/
/*    font-size: 18px;*/
/*    margin-top: 2%;    */
/*}*/

/*.texto-input:focus {*/
/*    box-shadow: 0 0 0 0;*/
/*    border: 0 none;*/
/*    outline: 0;*/
/*}*/
/* TIRAR PRA CIMA?*/

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid #2E3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #596da0;
}
