.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: rgba(32, 32, 39, 0.81);
    /*background: rgba(49, 46, 26, 0.75);*/
    /*height: 8%;*/
    max-height: 10vh;
}
